@page
@model IndexModel
@{
    ViewData["Title"] = "IGNIS MERCADO";
}

<main role="main">

  <section class="jumbotron text-center" style ="background-image: url(http://www.rio2c.com/2018/en/img/banner-audiovisual.jpg)">
    <div class="container">
      <h1 class="jumbotron-heading" style="color:white;">¿Qué es Ignis Mercado?</h1>
      <br>
      <p style="color:white;">Es un programa universitario para incentivar el desarrollo del sector audiovisual y la inserción laboral de estudiantes, egresados y docentes.</p>
      <p>
        <a href="https://ucu.edu.uy/es/CentroIgnis" class="btn btn-primary my-2">Ir a la pagina de IGNIS</a>
      </p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="https://cdn.pixabay.com/photo/2018/12/19/16/45/set-3884399_960_720.jpg">
            <div class="card-body">
              <p class="card-text">Base de técnicos audiovisuales. Es un mecanismo por el cual estudiantes y egresados se postulan para ingresar a una base de datos de técnicos disponibles para proyectos coordinados por Ignis</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href="https://forms.office.com/Pages/ResponsePage.aspx?id=Y-H44HqB1kG4jntGmP5UJe7pB3D8IwJHqlBnc4qZZNxUNUw3Nk0yUkdSNFlQQktUS0o1RlFVOFFPOS4u">Ingresar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
           <img class="bd-placeholder-img card-img-top" src="https://cdn.pixabay.com/photo/2015/09/02/12/45/movie-918655_960_720.jpg">
            <div class="card-body">
              <p class="card-text">Base de empresas audiovisuales. Es un mecanismo por el cual micro y pequeñas empresas se postulan para ingresar en una base de datos de casas productoras interesadas en participar en proyectos coordinados por Ignis</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href="https://forms.office.com/Pages/ResponsePage.aspx?id=Y-H44HqB1kG4jntGmP5UJe7pB3D8IwJHqlBnc4qZZNxUN1MxOTdaTkVMNDhJVjdVMjI0WUlIRkxCVy4u">Ingresar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
           <img class="bd-placeholder-img card-img-top" src="https://cdn.pixabay.com/photo/2016/03/05/21/21/agree-1238964_960_720.jpg">            
            <div class="card-body">
              <p class="card-text">Oportunidades de empleo. Mecanismo por el cual organizaciones externas buscan profesionales del área. Ignis colabora en la definición de perfiles y difunde convocatoria en alianza con el Portal Laboral UCU.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href="https://ucu.edu.uy/portallaboral">Ingresar</a>
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="https://cdn.pixabay.com/photo/2017/09/07/08/54/money-2724241_960_720.jpg">            
            <div class="card-body">
              <p class="card-text">Oportunidades de negocios. Mecanismo por el cual organizaciones externas, contactan a Ignis, quien ayuda a dimensionalizar sus necesidades y difunde el llamado para que los interesados se postulen y avancen en una contratación privada. En alianza con el Centro IthaKa.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href="https://www.ithaka.ucu.edu.uy/?_ga=2.82652819.462296466.1561929505-1275936398.1486752773">Ingresar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="https://cdn.pixabay.com/photo/2018/10/17/03/21/tv-3753021_960_720.jpg">
            <div class="card-body">
              <p class="card-text">Clínica de producción audiovisual. Mecanismo por el cual estudiantes, docentes y egresados traen su idea o proyecto audiovisual personal para recibir un feedback y orientación para su desarrollo. En alianza con el Centro Ithaka.  </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href="#">Ingresar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 shadow-sm">
            <img class="bd-placeholder-img card-img-top" src="https://static.wixstatic.com/media/21925e_75ce0a6eb9f24d95a638c124d1fa1e6c~mv2.jpg">
            <div class="card-body">
              <p class="card-text">Mercado nacional e internacional de proyectos audiovisuales. Mecanismo por el cual estudiantes, docentes y egresados presentan su idea o proyecto audiovisual personal para ser promovido en redes internacionales. En alianza con el Centro Ithaka.</p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <a class="btn btn-sm btn-outline-secondary" href="#">Ingresar</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>
