@page
@model IgnisMercado.Pages.Costos.EditModel

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Lista de Precios</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <br>
            <h4>Precios para Nivel Básico</h4>
            <hr/>

            <div class="form-group">
                <label asp-for="CostoValues.PrimeraHoraBasico" class="control-label"></label>
                <input asp-for="CostoValues.PrimeraHoraBasico" class="form-control" />
                <span asp-validation-for="CostoValues.PrimeraHoraBasico" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CostoValues.CostoHoraBasico" class="control-label"></label>
                <input asp-for="CostoValues.CostoHoraBasico" class="form-control" />
                <span asp-validation-for="CostoValues.CostoHoraBasico" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CostoValues.JornadaBasico" class="control-label"></label>
                <input asp-for="CostoValues.JornadaBasico" class="form-control" />
                <span asp-validation-for="CostoValues.JornadaBasico" class="text-danger"></span>
            </div>

            <br>
            <h4>Precios para Nivel Avanzado</h4>
            <hr/>

            <div class="form-group">
                <label asp-for="CostoValues.PrimeraHoraAvanzado" class="control-label"></label>
                <input asp-for="CostoValues.PrimeraHoraAvanzado" class="form-control" />
                <span asp-validation-for="CostoValues.PrimeraHoraAvanzado" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CostoValues.CostoHoraAvanzado" class="control-label"></label>
                <input asp-for="CostoValues.CostoHoraAvanzado" class="form-control" />
                <span asp-validation-for="CostoValues.CostoHoraAvanzado" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CostoValues.JornadaAvanzado" class="control-label"></label>
                <input asp-for="CostoValues.JornadaAvanzado" class="form-control" />
                <span asp-validation-for="CostoValues.JornadaAvanzado" class="text-danger"></span>
            </div>

            <br>
            <h4>Cantidad de Horas por Jornada</h4>
            <hr/>

            <div class="form-group">
                <label asp-for="CostoValues.HoraJornada" class="control-label"></label>
                <input asp-for="CostoValues.HoraJornada" class="form-control" />
                <span asp-validation-for="CostoValues.HoraJornada" class="text-danger"></span>
            </div>

            <br>
            <hr/>
            <br>
            
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}