@page
@model IgnisMercado.Pages.Roles.DeleteModel

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar</h1>

<h3>Está seguro que desea eliminar definitivamente este rol?</h3>
<div>
    <h4>Rol</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rol.Nivel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rol.Nivel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Rol.Descripcion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Rol.Descripcion)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Rol.RolId" />
        <input type="submit" value="Eliminar" class="btn btn-danger" /> |
        <a asp-page="./Index">Volver a la lista</a>
    </form>
</div>
