@page
@model IgnisMercado.Pages.Roles.EditModel

@{
    ViewData["Title"] = "Editar";
}

<h1>Editar</h1>

<h4>Rol</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Rol.RolId" />
            <div class="form-group">
                <label asp-for="Rol.Nivel" class="control-label">Nivel de Experiencia</label>
                <input asp-for="Rol.Nivel" class="form-control" />
                <span asp-validation-for="Rol.Nivel" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rol.Descripcion" class="control-label"></label>
                <input asp-for="Rol.Descripcion" class="form-control" />
                <span asp-validation-for="Rol.Descripcion" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index">Volver a la lista</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
