@page
@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Bienvenidos a Ignis Mercado</h1>
    <p>Un programa universitario para incentivar el desarrollo del mercado audiovisual</p>
    <p>y la inserción al sector de estudiantes, egresados y docentes. </p>
    <p>Visite también el <a href="https://ucu.edu.uy/es/CentroIgnis" target="_blank">sitio web del Centro Ignis</a>.</p>
</div>
